<h1 class="sport">Sports Listing</h1>

<div *ngFor="let team of teams | async" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(team)"><em>{{team.sport}}</em></h3>
    <h5>Players Need: {{team.player}}</h5>
    <div *ngIf="currentRoute === '/admin'">
      <h4>Location: {{team.location}}</h4>
      <h4>Date: {{team.date}}</h4>
      <h4>Time: {{team.time}}</h4>
      <hr>
      <app-edit-team [selectedTeam]="team"></app-edit-team>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
  <h2 class="sport">New Sport Event</h2>
  </div>
  <div class="panel-body">
    <div>
      <label>Date:</label>
      <input #newDate>
    </div>

    <div>
      <label>Time:</label>
      <input #newTime>
    </div>

    <div>
      <label>Location:</label>
      <input #newLocation>
    </div>

    <div>
      <label>Players Need:</label>
      <input #newPlayer>
    </div>

    <div>
      <label>Sport:</label>
      <input #newSport>
    </div>
    <button (click)="submitForm(newDate.value, newTime.value, newLocation.value, newPlayer.value, newSport.value); newDate.value=''; newTime.value=''; newLocation.value=''; newPlayer.value=''; newSport.value='' ">Add Event</button>
  </div>
</div>
