<h4>Edit Sporting Event</h4>

<label>New Date:</label>
<input [(ngModel)]="selectedTeam.date">
<br>
<label>New Time:</label>
<input [(ngModel)]="selectedTeam.time">
<br>
<label>New Location:</label>
<input [(ngModel)]="selectedTeam.location">
<br>
<label>New Amount of Players Need:</label>
<input [(ngModel)]="selectedTeam.player">
<br>
<label>New Sport:</label>
<input [(ngModel)]="selectedTeam.sport">
<br>
<button (click)="beginUpdatingTeam(selectedTeam)">Update</button>
<hr>
<button (click)="beginDeletingTeam(selectedTeam)">Delete</button>
