<h2 class="about">Welcome to our About page!</h2>
<p class=about2>Here at Epicodus Recreation Sports, we allow our students to sign-up for any recreational sport activity that is open so that they can rest their brains and get outside and move!</p>
<p class=about2>Anyone can host an event and if other students are interest they can join!</p>
<p class=about2>This app is to motivate our students to take a break and socialize with other students in another particular field that involves communication and teamwork</p>
